
.mat-card {
  width: 400px;
  margin: 0 auto;
  display: block;
  padding: 0;
}


.filter-chips-title {
  margin-top: 0.5rem;
}

.filter-chips-title  h1{
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}
.filter-chips-content {
  padding: 1rem;
}


.results-text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  font-size: 1.0rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.filter-link {
  text-decoration: none;
  color: #2196F3;
  pointer: pointer;
}

.sort-field {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  height: 5rem;
}



.example-content {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  flex-wrap: wrap;
}

.example-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

}

.mat-accordion {
  width: 100%;
  height: 100%;
}

.mobile-container {
  width: 100vw;
  min-height: 85vh;
  height: 100%;
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}

.example-radio-button {
  margin: 5px;
}


.sticky-top {
  background-color: white;
}

.filter-sort {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.spacer {
  flex: 1;
}

.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 8rem;
  width: 100vw;
}

.filter-drawer {
  background-color: white;
}

.sort-drawer {
  padding: 1rem;
  background-color: white;
}
.sidebar {
  height: 31rem;/* 100% Full-height */
  width: 100%; /* 0 width - change this with JavaScript */
  z-index: 99; /* Stay on top */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  transition: margin-left .5s; /* If you want a transition effect */
  overflow-y: auto;
}

.data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}


