.mat-expansion-panel {
  width: 100vw;
}


.container-main {
  display: flex;
  flex-direction: row;
  width: 100vw;
  position: relative;
}


.filter-container {

}



.results-container {

}

.mat-card {
  width: 400px;
  margin: 0 auto;
  display: block;
  padding: 0;
}



/* Customize the label (the container) */
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;


  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}


.filter-chips-title {
  margin-top: 0.5rem;
}

.filter-chips-title  h1{
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}
.filter-chips-content {
  padding: 1rem;
}


.results-text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  font-size: 1.0rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.filter-link {
  text-decoration: none;
  color: #2196F3;
  pointer: pointer;
}

.sort-field {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  height: 5rem;
}

.example-container {
  width: 100vw;
  min-height: 75vh;
  overflow: hidden;
}

.example-sidenav-content {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.example-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;

}


.search-results {
}

.mobile-container {
  width: 100vw;
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}

.example-radio-button {
  margin: 5px;
}

.mat-radio-button {
}

.sort-container {
  width: 100vw;
  padding: 1rem;
}


.sticky-top {
  background-color: white;
}


.filter-sort {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.spacer {
  flex: 1;
}
