
.favorite-button {
  position: absolute;
  top: 1rem;
  left: 2rem;
  z-index: 1;
  cursor: pointer;


  background: white;
  border-radius: 50%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}



.container-auto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.mat-chip-list-wrapper {
  margin: 0 auto  ;
}

.container-auto > div {
  margin-bottom: 1rem;
}

.header-container {
  height: 40vh;
}


.info-header {
  padding: 1rem;
}

.header {
  text-align: left;
  position: relative;
  font-size: 2rem;
  font-weight: bold;
  margin: 0 auto;
  color: white;
}

.subheader {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  width: 100%;
}

.sub-text {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  margin: 0;
  margin-bottom: 0.5rem;
}

.location-icon {
  fill: white;
  color: white;
  margin: 0;
}

.dealer-info p {
  margin: 0;
  color: white;
  font-weight: bold;
  font-size: 1.0rem;
}

.dealer-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 1rem;
  background-color: white;
}

.test {
  width: 75vw;
  height: 40vh;
  border-radius: 1rem;
  background-color: white;
}

.photo {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 5rem;
}

.info-bar {
  width: 65vw;
  height: 4rem;
  background-color: #1976d2;
  border-radius: 5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;

}

.info-bar-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info-title {
  font-size: 2rem;
  color: white;
  font-weight: bold;
  margin: 0 auto;
}

mat-chip {
  max-width: max-content;
  max-width: intrinsic;           /* Safari/WebKit uses a non-standard name */
  max-width: -moz-max-content;
  background-color: #1976d2 !important;
  color: white;
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
}
.card-text {
  font-size: 1rem;
  font-weight: bold;
}

<!-- /* Stack on top of each other */ -->
.icons-container {
  width: 75vw;
  overflow:hidden;
}

.icon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  float: left;
  height: 6rem;
  width: 7.5rem;
  max-width: 7.5rem;
}

.icon-display{
  transform: scale(2);
  margin: 0 0 1rem;
}

.icon-text {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
  text-align: center;
}

.description-container {
  display: flex;
  flex-wrap: wrap;
}

.description-item {
  display:inline-block;
  float: left;
  padding: 0.5rem;
}

.description-title {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
  color: gray;
}

.description-text {
  font-size: 1rem;
  margin: 0;
  color: black;
}

.mat-tab-group {
  width: 100%;
  height: 31.25rem;
}

.card {
  width: 75vw;
}

.icon-chip {
  margin-right: 0.5rem;
}

.star-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: yellow;
  fill: yellow;
  margin-left: 0.5rem;
}

.dealer-info span {
  color: white;
  font-weight: bold;
  font-size: 1.0rem;
}

.bookmarked {
  color: red;
}

.not-bookmarked {
  color: lightgrey;
}


.auto-container {
  width: 75vw;
}
