.search-results {
  height: 26rem;
  padding-bottom: 1rem;
  padding-top:  1rem;

  overflow-y: hidden;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  width: 75vw;

}


.search-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}


@media screen and (max-width: 767px) {

  .search-title {
    font-size: 1.2rem;
    margin: 1rem;
  }

  .search-results {
    width: 100vw;
  }

}

/* Responsive Styles */


@media screen and (max-width: 575px) {
  .search-title {
    font-size: 1.2rem;
    margin: 1rem;
  }

  .search-results {
    width: 100vw;
  }
}
