<div *ngIf="show" class="favorites">
  <p class="title">Saved Listings</p>
  <div
    class="search-results"
    infinite-scroll
    [infiniteScrollDistance]="scrollDistance"
    [infiniteScrollUpDistance]="scrollUpDistance"
    [infiniteScrollThrottle]="throttle"
    (scrolled)="onScroll()"
    [infiniteScrollDisabled]="loading"
  >
    <div *ngFor="let bookmark of array">
      <app-auto-card [auto]="bookmark.auto!" [bookmarked]="true"></app-auto-card>
    </div>
  </div>
  <div *ngIf="loading" class="loading">
    <mat-progress-spinner
      class="mat-progress-spinner"
      [diameter]="100"
      [strokeWidth]="4"
      mode="indeterminate"
      color="primary">
    </mat-progress-spinner>
  </div>
</div>

