

.form-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.form-container > * {
  margin-bottom: 1rem;

}

.mat-form-field {
  margin-right: 2rem;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0rem;
  width: 1rem;
}

.form-container button {
  margin-bottom: 1rem;
}

.types-container {
  display: flex;
  flex-wrap: wrap;
  width: 75vw;
}

.type-container {
  box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius:  2rem;
  width: 11rem;
  height: 10rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: white;
  margin: 1rem;

}

<!--Hover effect-->
.type-container:hover {
  background-color: #bbbcbe;
}

.type-text {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 2.4rem 0 0;
  color: #1976d2;

}
.mat-icon {
  transform: scale(7);
}


.search-content {
  padding-top: 1rem;
}


.search-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

/* Responsive Styles */
@media screen and (max-width: 767px) {

  .search-title {
    font-size: 1.2rem;
    margin: 1rem;
    text-align: center;

  }

  .types-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }
  .form-container {
    flex-direction: column;
  }
}

@media screen and (max-width: 575px) {
  .form-container {
    flex-direction: column;
  }

  .types-container {
    width: 100vw;
  }
}
