
<app-watchlist></app-watchlist>

<div class="search-content">
  <p class="search-title">Search Listings</p>

  <form class="form-container" (submit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Find By Make</mat-label>
      <mat-select [formControl]="selected" [errorStateMatcher]="matcher">
        <mat-option *ngFor="let option of makes" [value]="option.name">
          {{option.name}}
        </mat-option>
      </mat-select>
      <mat-hint>Select a make to see all models</mat-hint>
      <mat-error *ngIf="selected.hasError('required')">Please select a make</mat-error>
    </mat-form-field>


    <mat-form-field appearance="fill">
      <mat-label>Find By Model</mat-label>
      <mat-select [formControl]="selectedModel" [errorStateMatcher]="matcher" [disabled]="modelsDisabled">
        <mat-option *ngFor="let option of models" [value]="option">
          {{option}}
        </mat-option>
      </mat-select>
      <mat-hint>Select a model to see all years</mat-hint>
      <mat-error *ngIf="selectedModel.hasError('required')">Please select a model</mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Postcode</mat-label>
      <input matInput placeholder="Ex. 90805" [formControl]="postcodeModel" [errorStateMatcher]="matcher">
      <mat-hint>Enter a postcode to see all listings</mat-hint>
      <mat-error *ngIf="postcodeModel.hasError('required')">Please enter a postcode</mat-error>
      <mat-error *ngIf="postcodeModel.hasError('pattern')">Please enter a valid postcode</mat-error>
      <mat-error *ngIf="postcodeModel.hasError('minLength')">Please enter a valid postcode</mat-error>
      <mat-error *ngIf="postcodeModel.hasError('maxLength')">Please enter a valid postcode</mat-error>

    </mat-form-field>


    <button type="submit" mat-raised-button color="primary"  >Search</button>

  </form>

  <div class = "types-container">
    <div class ="type-container" (click)="onTypeClick('suv')">
      <mat-icon svgIcon="suv"></mat-icon>
      <p class="type-text">SUV</p>
    </div>
    <div class ="type-container" (click)="onTypeClick('coupe')">
      <mat-icon svgIcon="coupe"></mat-icon>
      <p class="type-text">Coupe</p>
    </div>
    <div class ="type-container" (click)="onTypeClick('sedan')">
      <mat-icon svgIcon="sedan"></mat-icon>
      <p class="type-text">Sedan</p>
    </div>
    <div class ="type-container" (click)="onTypeClick('truck')">
      <mat-icon svgIcon="truck"></mat-icon>
      <p class="type-text">Truck</p>
    </div>
    <div class ="type-container" (click)="onTypeClick('suv')">
      <mat-icon svgIcon="crossover"></mat-icon>
      <p class="type-text">Crossover</p>
    </div>
  </div>

  <div class = "types-container">
    <div class ="type-container" id="chevrolet" (click)="onBrandClick('chevrolet')">
      <mat-icon svgIcon="chevrolet"></mat-icon>
    </div>
    <div class ="type-container" id="ford" (click)="onBrandClick('ford')">
      <mat-icon svgIcon="ford"></mat-icon>
    </div>
    <div class ="type-container" id="gmc" (click)="onBrandClick('gmc')">
      <mat-icon svgIcon="gmc"></mat-icon>
    </div>
    <div class ="type-container" id="toyota" (click)="onBrandClick('audi')">
      <mat-icon svgIcon="audi"></mat-icon>
    </div>
    <div class ="type-container" id="honda" (click)="onBrandClick('honda')">
      <mat-icon svgIcon="honda"></mat-icon>
    </div>
    <div class ="type-container" id="bmw" (click)="onBrandClick('bmw')">
      <mat-icon svgIcon="bmw"></mat-icon>
    </div>
  </div>
</div>

