
<div class = "types-container">
  <div class ="type-container">
     <mat-icon svgIcon="suv"></mat-icon>
     <p class="type-text">SUV</p>
  </div>
  <div class ="type-container">
    <mat-icon svgIcon="coupe"></mat-icon>
    <p class="type-text">Coupe</p>
  </div>
  <div class ="type-container">
    <mat-icon svgIcon="sedan"></mat-icon>
    <p class="type-text">Sedan</p>
  </div>
  <div class ="type-container">
    <mat-icon svgIcon="truck"></mat-icon>
    <p class="type-text">Truck</p>
  </div>
  <div class ="type-container">
    <mat-icon svgIcon="crossover"></mat-icon>
    <p class="type-text">Crossover</p>
  </div>
</div>

<div class = "types-container">
  <div class ="type-container">
    <mat-icon svgIcon="chevrolet"></mat-icon>
  </div>
  <div class ="type-container">
    <mat-icon svgIcon="ford"></mat-icon>
  </div>
  <div class ="type-container">
    <mat-icon svgIcon="gmc"></mat-icon>
  </div>
  <div class ="type-container">
    <mat-icon svgIcon="toyota"></mat-icon>
  </div>
  <div class ="type-container">
    <mat-icon svgIcon="honda"></mat-icon>
  </div>
  <div class ="type-container">
    <mat-icon svgIcon="bmw"></mat-icon>
  </div>
</div>
