
<div class="form-container">
  <div class="select-container">
    <mat-form-field appearance="fill">
      <mat-label>Choose one</mat-label>
      <mat-select [formControl]="selected" [errorStateMatcher]="matcher" (selectionChange)="handleMakeSelected()">
        <mat-option>Clear</mat-option>
        <mat-option *ngFor="let option of makes" [value]="option.name">
          {{option.name}}
        </mat-option>
      </mat-select>
      <mat-hint>Errors appear instantly!</mat-hint>
      <mat-error *ngIf="selected.hasError('required')">You must make a selection</mat-error>
      <mat-error *ngIf="selected.hasError('pattern') && !selected.hasError('required')">
        Your selection is invalid
      </mat-error>
    </mat-form-field>
  </div>
  <div class="select-container">
    <mat-form-field appearance="fill">
      <mat-label>Choose one</mat-label>
      <mat-select [formControl]="selected" [errorStateMatcher]="matcher">
        <mat-option>Clear</mat-option>
        <mat-option *ngFor="let option of models" [value]="option">
          {{option}}
        </mat-option>
      </mat-select>
      <mat-hint>Errors appear instantly!</mat-hint>
      <mat-error *ngIf="selected.hasError('required')">You must make a selection</mat-error>
      <mat-error *ngIf="selected.hasError('pattern') && !selected.hasError('required')">
        Your selection is invalid
      </mat-error>
    </mat-form-field>
  </div>

  <div class="button-container">
    <button type="button" class="btn btn-primary">Search</button>
  </div>
</div>


<div class = "types-container">
  <div class ="type-container" (click)="onTypeClick('suv')">
     <mat-icon svgIcon="suv"></mat-icon>
     <p class="type-text">SUV</p>
  </div>
  <div class ="type-container" (click)="onTypeClick('coupe')">
    <mat-icon svgIcon="coupe"></mat-icon>
    <p class="type-text">Coupe</p>
  </div>
  <div class ="type-container" (click)="onTypeClick('sedan')">
    <mat-icon svgIcon="sedan"></mat-icon>
    <p class="type-text">Sedan</p>
  </div>
  <div class ="type-container" (click)="onTypeClick('truck')">
    <mat-icon svgIcon="truck"></mat-icon>
    <p class="type-text">Truck</p>
  </div>
  <div class ="type-container" (click)="onTypeClick('suv')">
    <mat-icon svgIcon="crossover"></mat-icon>
    <p class="type-text">Crossover</p>
  </div>
</div>

<div class = "types-container">
  <div class ="type-container" id="chevrolet" (click)="onBrandClick('chevrolet')">
    <mat-icon svgIcon="chevrolet"></mat-icon>
  </div>
  <div class ="type-container" id="ford" (click)="onBrandClick('ford')">
    <mat-icon svgIcon="ford"></mat-icon>
  </div>
  <div class ="type-container" id="gmc" (click)="onBrandClick('gmc')">
    <mat-icon svgIcon="gmc"></mat-icon>
  </div>
  <div class ="type-container" id="toyota" (click)="onBrandClick('toyota')">
    <mat-icon svgIcon="toyota"></mat-icon>
  </div>
  <div class ="type-container" id="honda" (click)="onBrandClick('honda')">
    <mat-icon svgIcon="honda"></mat-icon>
  </div>
  <div class ="type-container" id="bmw" (click)="onBrandClick('bmw')">
    <mat-icon svgIcon="bmw"></mat-icon>
  </div>
</div>
